.serp-results-info {
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .serp-results-order {
    select {
      background: white;
      box-shadow: none;
      border: 1px solid #D8D8D8;
      color: #06c;
      text-shadow: none;
    }
  }
}
